<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/account.css">
    <title>HAPPY_HOME</title>
</head>
<body>
    <%- include('navbar.ejs') %>
    <h1> My Account</h1>

    <ul>
       <h3>My profile<br></h3>
       <h3>My Address<br></h3>
       <h3>My Orders<br></h3>
       <h3>Settings<br></h3>
    </ul>
    <% if(user) { %>
    <p>USERNAME : <%= user.fname %><br>GMAIL : <%= user.email %></p>
    <% } else {%>
        <p>Please login to see details</p>
        <% } %>

    


    <script src="app.js"></script>
</body>
</html>