<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="css/blog2.css">
</head>
<body>
    <div class="header">
        <h2>HAPPY HOME</h2>
        <h3>Blog</h3>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>SALOON</h2>
            <div class="img1" style="height:330px;"></div>
            <p>"Hey, go back to the salon! What doesn't kill you only makes you blonder. My heels and my hotel, they just got taller."</p>
          </div>
          <div class="card">
            <h2>PLUMBER</h2>
            <div class="img2" style="height:330px;"></div>
            <p>Anybody who has any doubt about the ingenuity or the resourcefulness of a plumber never got a bill from one.</p>
          </div>
          <div class="card">
            <h2>CARPENTER</h2>
            <div class="img3" style="height:330px;"></div>
            <p>When you're a carpenter making a beautiful chest of drawers, you're not going to use a piece of plywood on the back, even though it faces the wall and nobody will ever see it.</p>
          </div>
          <div class="card">
            <h2>REPAIRS</h2>
            <div class="img4" style="height:330px;"></div>
            <p>It is easier to build strong children than to repair broken men. Frederick Douglass. The time to repair the roof is when the sun is shining</p>
          </div>
          <div class="card">
            <h2>HOUSECLEANING</h2>
            <div class="img5" style="height:330px;"></div>
            <p>"“The objective of cleaning is not just to clean, but to feel happiness living within that environment.””</p>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">

            <h3>POPULAR SERVICES</h3>
            <div class="fakeimg">saloon</div><br>
            <div class="fakeimg">plumber</div><br>
            <div class="fakeimg">carpenter</div><br>
            <div class="fakeimg">repairs</div><br>
            <div class="fakeimg">housecleaning</div><br>

          </div>

          <div class="card">
            <h2>About us</h2>
            <p>Our bussinesss is currently running around 4o cities with our realiable employees .customer satisfaction is our first priority .Our objective is to provide efficient service to our customer</p>
          </div>

          <div class="card">
            <h3>Follow us</h3>
            <p>facebook</p>
            <a href="">click</a>
            <p>instagram</p>
            <a href="">click</a>
            <p>twitter</p>
            <a href="">click</a>
            <a></a>
          </div>
        </div>
      </div>
</body>
</html>