<!-- Progress bar -->
<div class="progressbar">
  <div class="progress" id="progress"></div>

  <div class="progress-step progress-step-active" data-title="Name"></div>
  <div class="progress-step" data-title="contact"></div>
  <div class="progress-step" data-title="password"></div>

</div>