<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/womensaloon.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/db1599c4e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/db1599c4e2.css" crossorigin="anonymous">

      <title>Happy Home</title>
</head>
<body class="w3-content" style="max-width:1200px">

  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <h3 class="w3-wide"><b>CATEGORIES</b></h3>
    </div>
    
      <!-- <a href="#beard" class="w3-bar-item w3-button">Hair Cuts</a>
      <a href="#facial" class="w3-bar-item w3-button">Waxing</a>
      
      <a href="#haircut" class="w3-bar-item w3-button">Facials</a>
  
    
      <a href="#therapy" class="w3-bar-item w3-button">Make Up</a> -->
      <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
        <% Category.forEach((category)=>{ %>
          <a href="#<%= category.sname %>" class="w3-bar-item w3-button"><%= category.sname %></a>
         <% }) %>
        
      </div>
      
    
    <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a> 
    <a href="#footer"  class="w3-bar-item w3-button w3-padding">Subscribe</a>
  </nav>
  
  <!-- Top menu on small screens -->
  <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
    <div class="w3-bar-item w3-padding-24 w3-wide">LOGO</div>
    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
  </header>
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main" style="margin-left:250px">
  
    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>
    
    <!-- Top header -->
    <header class="w3-container w3-xlarge">
      <p class="w3-left">WOMEN SALOON</p>
      <p class="w3-right">
        <i class="fa fa-shopping-cart w3-margin-right"></i>
        <i class="fa fa-search"></i>
      </p>
    </header>
  
   <!-- Image header -->
    <div class="w3-display-container w3-container">
      <img src="images/PROJECT/makeup1.jpg" alt="Haircut" style="width:100%">
      <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">New services</h1>
        <h1 class="w3-hide-large w3-hide-medium">New services</h1>
        <h1 class="w3-hide-small">collection 2023</h1>
        <p><a href="#MakeUp" class="w3-button w3-black w3-padding-large w3-large">BOOK NOW</a></p>
      </div>
    </div>
  

  
    <div class="w3-container w3-text-grey" id="Haircut">
      
    </div>
  
    
  
    <!-- SERVICES SECTION FOR THE NEW SERVICES -->
  
    <div class="service_container">
  
      <div class="service" id="service1">
  
  
        <div class="s_1"><img
          src="images/PROJECT/facial1.jpg" >
          
        </div>
        <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
        <div class="s_2">
          <span class="price">₹445</span>
          <span class="discount">(12% off)</span>
        </div>
        <div id="sevice_cart" class="w3-modal">
          <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
            <div class="w3-container w3-white w3-center">
              <i onclick="document.getElementById('sevice_cart').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
              <h2 class="w3-wide">PACKAGE</h2>
              <p>Providing packages select according to your needs</p>
              <div class="big_box"> <div class="box">
                <div class="in_box">
                  <div class="contr" id="top"><p> perl pack</p></div>
                  <div class="contr" id="bottom">
                  <button onclick="addtocart()" id="bottom_right">Add</button></div>
                </div>
  
  
              </div>
              <div class="box">
                <div class="in_box">
                  <div class="contr" id="top"><p>Silver pack</p></div>
                  <div class="contr" id="bottom">
                  <button id="bottom_right">Add</button></div>
                </div>
              </div>
              <div class="box"><div class="in_box">
                <div class="contr" id="top"><p>Gold pack </p></div>
                <div class="contr" id="bottom">
                <button id="bottom_right">Add</button></div>
              </div></div>
            </div>
                          
            </div>
          </div>
        </div>  
      </div>
      <div class="service" id="service2">
           <div class="s_1">
              <img src="images/PROJECT/hairwash1.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      <div class="service" id="service3"> <div class="s_1"><img
        src="images/PROJECT/makeup1.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      <div class="service" id="service4"> <div class="s_1"><img
        src="images/PROJECT/waxing1.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
    </div>
    <div class="w3-container w3-text-grey" id="HairCut"></div>
    <h2>HAIR CUTS</h2>
     
     <div class="service_container">
  
      <div class="service" id="service1">
  
  
        <div class="s_1"><img
          src="images/PROJECT/hairwash1.jpg" >
          
        </div>
        <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
        <div class="s_2">
          <span class="price">₹445</span>
          <span class="discount">(12% off)</span>
        </div>
      </div>
      <div class="service" id="service2"> <div class="s_1"><img
        src="images/PROJECT/hairwash2jpg.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      <div class="service" id="service3"> <div class="s_1"><img
        src="images/PROJECT/hairwash3jpg.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      
    </div>
    <!-- // facial ZONE -->
    <div class="w3-container w3-text-grey" id="Waxing"></div>
    <h2> WAXING</h2>
     
     
     <div class="service_container">
  
      <div class="service" id="service1">
  
  
        <div class="s_1"><img
          src="images/PROJECT/waxing1.jpg" >
          
        </div>
        <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
        <div class="s_2">
          <span class="price">₹445</span>
          <span class="discount">(12% off)</span>
        </div>
      </div>
      <div class="service" id="service2"> <div class="s_1"><img
        src="images/PROJECT/waxing2.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      <div class="service" id="service3"> <div class="s_1"><img
        src="images/PROJECT/waxing3.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      
    </div>
    <div class="w3-container w3-text-grey" id="Facials"></div>
    <h2>FACIALS</h2>
     
     
     <div class="service_container">
  
      <div class="service" id="service1">
  
  
        <div class="s_1"><img
          src="images/PROJECT/facial1.jpg" >
          
        </div>
        <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
        <div class="s_2">
          <span class="price">₹445</span>
          <span class="discount">(12% off)</span>
        </div>
      </div>
      <div class="service" id="service2"> <div class="s_1"><img
        src="images/PROJECT/facial2.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      <div class="service" id="service3"> <div class="s_1"><img
        src="images/PROJECT/facial3.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      
    </div>
    <div class="w3-container w3-text-grey" id="MakeUp"></div>
    <h2>MAKE UP</h2>
    
     
     <div class="service_container">
  
      <div class="service" id="service1">
  
  
        <div class="s_1"><img
          src="images/PROJECT/makeup1.jpg" >
          
        </div>
        <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
        <div class="s_2">
          <span class="price">₹445</span>
          <span class="discount">(12% off)</span>
        </div>
      </div>
      <div class="service" id="service2"> <div class="s_1"><img
        src="images/PROJECT/makeup2.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      <div class="service" id="service3"> <div class="s_1"><img
        src="images/PROJECT/makeup3.jpg" >
        
      </div>
      <button role="button"  href="javascript:void(0)" onclick="document.getElementById('sevice_cart').style.display='block'">BOOK NOW</button>
      <div class="s_2">
        <span class="price">₹445</span>
        <span class="discount">(12% off)</span>
      </div></div>
      
    </div>
  
    <div id="cart_show">
      <p>Item is added to your cart</p>
  
      <div id="counter">
       
  
  
      </div>
  
    </div>
    
    <%- include('servicesFooter.ejs')%>
   
  
  </body>
<script src="womensaloon.js"></script>
<script src="app.js"></script>
</html>