<!DOCTYPE html>
<html>
  <head>
    <title>Worker Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/worker.css">
  </head>
  <body>
    <header>
        <h1>Worker Dashboard</h1>
        <div class="signout">
            <i class="fas fa-sign-out-alt"></i>
          <a href="project" class="button">Sign Out</a>
         
        </div>
      </header>
    <div class="container">
      <div class="card">
        <%- include('card.ejs') %>
      </div>
      <div class="card">
        <%- include('card.ejs') %>
      </div>
      <div class="card">
        <%- include('card.ejs') %>
      </div>
      </div>
      </body>
        </html>


