<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyHome</title>
    <link rel="stylesheet" href="css/WorkerRegistration.css">
</head>

<body>
    <div id="worker_form" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
          <div class="w3-container w3-white w3-center">
            <i onclick="document.getElementById('worker_form').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i> 
            <div id="wlogin_cont">
             
               <h1 class="wtext-centre">LOGIN</h1>
        <form name="wform"  class="wform" id="workerForm" type="submit" action="/submit_login_worker" method="POST">
            
          <!-- Progress bar -->
          
      
          <!-- Steps -->
          <div class="wform-step wform-step-active">
              <h2 style="font-family: cursive; text-align:center">Please Login</h2>
            
              
                <div class="winput-group">
                  <label for="email_l">Email</label>
                  <input type="text" name="email_l" id="email_l" placeholder="Enter Your E-Mail" value="" />
                </div>
                <div class="winput-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" value=""/>
                </div>
                
                <div class="wbtns-group">
                  <!-- <a href="#" class="btn btn-prev">Previous</a> -->
                  <!-- <a href="#" class="btn btn-next" onclick="validatephone_email()">Next</a> -->
                  <button class="wbtn btn" id="submit" name="submit" type="submit" >Login </button>
                  <a href="#" class="wbtn " onclick="document.getElementById('worker_form').style.display='none';document.getElementById('worker_signup_form').style.display='block'">Signup</a> 
                </div>
              </div>
        </form>
            </div>
            
          </div>
        </div>
      </div>
      <div id="worker_signup_form" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom" id="wsignup_box" style="padding:42px">
          <div class="w3-container w3-white w3-center">
            <i onclick="document.getElementById('worker_signup_form').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i> 
             <div id="wsignup_cont">
    
              <h1 class="wtext-centre">Sign-Up</h1>
                <form name="wform"  class="wform" type="/submit_register_worker" action="/submit_register_worker" method="POST">
                    
                    <!-- Progress bar -->
                    <div class="wprogressbar">
                      <div class="wprogress" id="wprogress"></div>
                      
                      <div
                        class="wprogress-step  wprogress-step-active"
                        data-title="Name"
                      ></div>
                      <div class="wprogress-step" data-title="contact"></div>
                      <div class="wprogress-step" data-title="password"></div>
                      
                    </div>
                   
                
                    <!-- Steps -->
                    <div class="wform-step wform-step-active">
                      <div class="winput-group">
                        <label for="firstname">Name</label>
                        <input type="text" name="name" id="wname" placeholder="Pleas enter your name " value=""/>
                      </div>
                      <div class="winput-group">
                        <label for="lastname">Location</label>
                        <input type="text" name="location" id="wlocation" placeholder=" please enter your location" value=""/>
                      </div>
                      <div class="winput-group">
                        <label for="lastname">Profession</label>
                        <input type="text" name="profession" id="wprofession" placeholder=" please enter your profession" value=""/>
                      </div>
                     
                      <div class="">
                        <a href="#" class="wbtn wbtn-next width-50 ml-auto" onclick="validateworkername()">Next</a>
                      </div>
                    </div>
                    <div class="wform-step">
                      <div class="winput-group">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" id="wphone" placeholder="Enter your Mobile Number" value="" />
                      </div>
                      <div class="winput-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="wemail" placeholder="Enter Your E-Mail" value="" />
                      </div>
                     
                      
                      <div class="wbtns-group">
                        <a href="#" class="wbtn wbtn-prev">Previous</a>
                        <a href="#" class="wbtn wbtn-next" onclick="WValidate_phone_email()">Next</a>
                        
                      </div>
                    </div>
                    <div class="wform-step">
                      <h2>Set Password</h2>
                      <div class="winput-group">
                        <label for="cr_password"> Create Password</label>
                        <input type="password" name="cr_password" id="wcr_password" value="" />
                      </div>
                      <div class="winput-group">
                        <label for="vr_password"> Confirm Password</label>
                        <input type="password" name="vr_password" id="wvr_password" value=""/>
                      </div>
            
                      <div class="wbtns-group">
                        <a  class="wbtn wbtn-prev">Previous</a>
                        <button  class="wbtn wbtn-next"  onclick="workermatchpass()">sign up</button>
                      </div>
                    </div>
                      <div class="wform-step">
                      <h3>Successfully registered!!</h3>
                      <button class="wbtn wbtn-next"  onclick="document.getElementById('worker_form').style.display='block';document.getElementById('worker_signup_form').style.display='none'">Login now</button>
                      </div> 
                  </form>
            </div>
            
          </div>
        </div>
      </div>
<script>
function submitWorker() {
    const xhr = new XMLHttpRequest();
    const formData ={
      name:document.getElementById("wname").value,
      location:document.getElementById("wlocation").value,
      profession:document.getElementById("wprofession").value,
      phone:document.getElementById("wphone").value,
      email:document.getElementById("wemail").value,
      cr_password:document.getElementById("wcr_password").value
    }
    console.log(formData);
    xhr.open("POST", "/submit_register_worker", true);
    
    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4) {
            if (xhr.status === 200) {
                console.log("Data Inserted successfully");
                // Optionally, you can redirect to a success page or perform other actions here
            } else {
                console.error("Error inserting data:", xhr.status, xhr.statusText);
            }
        }
    };
    
    // Set the appropriate Content-Type header for form data
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    
    // Convert FormData to URL-encoded string and send it
    xhr.send(formData);
}

const wprevBtns = document.querySelectorAll("#wsignup_cont .wbtn-prev");
const wnextBtns = document.querySelectorAll("#wsignup_cont .wbtn-next");
const wwprogress = document.getElementById("#wsignup_cont wprogress");
const wformSteps = document.querySelectorAll("#wsignup_cont .wform-step");
const wprogressSteps = document.querySelectorAll("#wsignup_cont .wprogress-step");

let wformStepsNum = 0;

wnextBtns.forEach((wbtn) => {
wbtn.addEventListener("click", () => {
  wformStepsNum++;
  wupdateFormSteps();
  wupdateProgressbar();
});
});

wprevBtns.forEach((wbtn) => {
wbtn.addEventListener("click", () => {
  wformStepsNum--;
  wupdateFormSteps();
  wupdateProgressbar();
});
});

function wupdateFormSteps() {
wformSteps.forEach((formStep) => {
  formStep.classList.contains("wform-step-active") &&
    formStep.classList.remove("wform-step-active");
});

wformSteps[wformStepsNum].classList.add("wform-step-active");
}

function wupdateProgressbar() {
wprogressSteps.forEach((progressStep, idx) => {
  if (idx < wformStepsNum + 1) {
    progressStep.classList.add("wprogress-step-active");
  } else {
    progressStep.classList.remove("wprogress-step-active");
  }
});

const wprogressActive = document.querySelectorAll(".wprogress-step-active");

wprogress.style.width =
  ((wprogressActive.length - 1) / (wprogressSteps.length - 1)) * 100 + "%";
}


function workermatchpass(){  
  event.preventDefault(); 
  var firstpassword=document.getElementById("wcr_password").value;  
  var secondpassword=document.getElementById("wvr_password").value;
  var passw=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$/;
  if(!firstpassword.match(passw)){
    alert("please make a strong password !");
    wformStepsNum--;
  wupdateFormSteps();
  wupdateProgressbar();
  return false;  
  } 
if(firstpassword!=secondpassword){ 
  alert("Enter Same Password !");
    wformStepsNum--;
  wupdateFormSteps();
  wupdateProgressbar();
  return false;  
}
else{
  submitWorker();
}
} 


function WValidate_phone_email(){
  const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
  const phoneRegex = /^[6-9]\d{9}$/;
  var num=document.getElementById("wphone").value; 
  var x=document.getElementById("wemail").value;  
var atposition=x.indexOf("@");  
var dotposition=x.lastIndexOf("."); 
if(num.length==0)
{
alert("Please enter mobile number");
wformStepsNum--; 
wupdateFormSteps();
wupdateProgressbar();
return false; 
}
else if (!num.match(phoneRegex)){  
    alert('Enter correct mobile number');
    wformStepsNum--; 
wupdateFormSteps();
wupdateProgressbar();
return false; 
}

if (!emailRegex.test(x)) {
alert("Please enter a valid e-mail address");
wformStepsNum--; 
wupdateFormSteps();
wupdateProgressbar();
return false; 
  
} 
return true; 
}
function name(){
// insert data into a table
const firstname=document.getElementById('username').value;
const lastname=document.getElementById('position').value;}

// validation part
function validateworkername(){
  const nameRegex = /^[a-zA-Z]+$/;
  const locationRegex = /^[a-zA-Z]+$/;
  const professionRegex = /^[a-zA-Z]+$/;
  var wname=document.getElementById("wname").value;
  var wlocation=document.getElementById("wlocation").value;
  var wprofession=document.getElementById("wprofession").value;
if (!nameRegex.test(wname)){  
alert("Enter a valid name!!"); 
wformStepsNum--;
wupdateFormSteps();
  wupdateProgressbar();
return false;  
} 
 if (wlocation.length==0){  
alert(" Enter a valid location!!");
wformStepsNum--;
wupdateFormSteps();
  wupdateProgressbar();
return false;    
} 
if (wprofession.length==0){  
alert(" Enter a valid profession!!");
wformStepsNum--;
wupdateFormSteps();
  wupdateProgressbar();
return false;    
} 
return true;
}

function phonenumber(inputtxt)
{
  var phoneno = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
  if((inputtxt.value.match(phoneno)))
      return true;
      else
        {
          alert("please enter your correct mobile number");
           wformStepsNum--;
            wupdateFormSteps();
            wupdateProgressbar();
           return false;
        }
}

 


function validateall(){
if(CheckPassword(document.form[1].vr_password)===true){
  return true;
}
else{
  alert('check once something is not usual');
  wformStepsNum--;
  wupdateFormSteps();
  wupdateProgressbar();
  return false;
}
}

</script>
</body>
</html>